body {
    text-align: center;
}

.row{
    text-align: center;

}

.box {
    display: inline-block;
    width: 15vw;
    height: 15vw;
    background-color: rgb(179, 179, 179);
    border: 3px solid white;
    position: relative;
    text-align: center;

}
.box:hover {
    border: 3px solid green;
    cursor: pointer;
}

.top-left-box {
    background-color: grey; 
}
.top-middle-box {
    background-color: grey;
}
.top-right-box {
    background-color: grey;
}
.midde-left-box{
    background-color: grey;
}
.middle-middle-box {
    background-color: grey;
}
.middle-right-box {
    background-color: grey;
}
.bottom-left-box {
    background-color: grey;
}
.bottom-middle-box {
    background-color: grey;
}
.bottom-right-box {
    background-color: grey;
}



.active {
    background-color: red;
}